.colorselector {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.label {
  margin-top: 0.5rem;
  margin-right: 0.3rem;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
}

.rust {
  background-color: #b7410e;
}

.mustard {
  background-color: #e1ad01;
}

.teal {
  background-color: #008080;
}

.navy {
  background-color: #02075d;
}
